.app {
  text-align: center;
  height: 100vh;
}
.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  color: white;
  height: 75px;
}
.layout {
  height: calc( 100vh - 75px );
  display: flex;
}
.controls-wrapper {
  height: calc(100%);
  width: 100%;
  background:transparent;
  display: flex;
  background-color: #ffffff;
  background-size: 10px 10px;
  background-image: linear-gradient(to right, #efefef 1px, transparent 1px), linear-gradient(to bottom, #efefef 1px, transparent 1px);
}
.sorter { 
  width: calc( 100vw - 400px );
  height: 100%;
  background-size: 10px 10px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #efefef 1px, transparent 1px), linear-gradient(to bottom, #efefef 1px, transparent 1px);
}
.controls {
  height: calc(100% - 44px);
  width: 400px;
  margin: 20px 10px;
  background-size: 10px 10px;
  background-image: linear-gradient(to right, #efefef 1px, transparent 1px), linear-gradient(to bottom, #efefef 1px, transparent 1px);
  background-color: #e6e6e6;
  border-radius: 15px;
  border: 2px groove #a0a0a0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls > .slideSpeed {
  margin: 30px 10px;
  width: 100%;
}
.controls > .slideBars {
  margin: 30px 10px 20px 10px;
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  border-radius: 5px;
  background: #cecece;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  height: 15px;
  border-radius: 5px;    
}
.slider:hover {
  opacity: 1;
}
.slide > div.level {
  display: flex;
  flex-direction: row;
  margin: 5px 45px;
  justify-content: space-between;
  font-size: 14px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.sortbuttons > button.sort-type {
  height: 150px;
  width: 150px;
}
.sort-type{
  margin: 0;
  color: #cecece;
}
.sortbuttons > .active {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  border-color: #a8c6ff;
  font-weight: bold;
}
.sort{
  width:80%;
  margin: 10px 0;
  color: #cecece;
}
.sorter {
  justify-content: center;
  display: flex;
  align-items: center;
}
.bars {
  margin-top: 10px;
  margin-bottom: 10px;
}
.barswrapper {
  justify-content: center;
  display: flex;
  align-items: baseline;
}
